
body {
    margin:0;
    padding:0;
    color: white;
    background-color: rgb(20, 20, 23);
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.main{
    display:flex;
    justify-content: space-between;
}

.main-left{
    margin: 20px;
    flex: 1;
}

.main-right{
    margin: 20px;
    flex: 1;
}

.header-links{
    display: flex;
    gap: 1em;
}

.cta{
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    
}